{% extends 'admin/base_auth.html' %}

{% load i18n static %}

{% block title %}{% trans 'Đổi mật khẩu thành công!' %}{% endblock %}

{% block card %}
<div class="card text-center">

  <div class="card-body p-4">

    <div class="mb-4">
      <h4 class="text-uppercase mt-0">{% trans 'Thay đổi mật khẩu thành công' %}</h4>
    </div>
    <img src="{% static 'admin/assets/images/success.png' %}" alt="img" width="86" class="mx-auto d-block" />

    <div class="mt-2 mb-4"></div>

    <p class="text-muted font-14 mt-2"> {% trans 'Bạn đã thay đổi thành công mật khẩu cho admin!!!' %}</p>

    <a href="{% url 'admin:index' %}" class="btn d-block btn-pink waves-effect waves-light mt-3">{% trans 'Trở về bảng điều
      khiển' %}</a>

  </div>
  
</div>
{% endblock %}
