{% extends 'admin/base_auth.html' %}

{% load i18n %}

{% block title %}{% trans 'Đổi mật khẩu' %}{% endblock %}

{% block card %}
<div class="card">

  <div class="card-body p-4">

    <div class="text-center mb-4">
      <h4 class="text-uppercase mt-0">{% trans 'Thay đổi mật khẩu' %}</h4>
    </div>

    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="password" class="form-label">{% trans 'Mật khẩu cũ' %}</label>
        <input class="form-control" type="password" required id="password" placeholder="{% trans 'Mật khẩu cũ' %}"
          name="old_password">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">{% trans 'Mật khẩu mới' %}</label>
        <input class="form-control" type="password" required id="password" placeholder="{% trans 'Mật khẩu mới' %}"
          name="new_password1">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">{% trans 'Nhập lại mật khẩu mới' %}</label>
        <input class="form-control" type="password" required id="password" placeholder="{% trans 'Xác nhận mật khẩu mới' %}"
          name="new_password2">
      </div>
      <div class="mb-3 text-center d-grid">
        <button class="btn btn-primary" type="submit"> {% trans 'Đổi mật khẩu' %} </button>
      </div>

    </form>
    <div class="col-12 text-center">
      <p class="text-muted"><a href="{% url 'admin:index' %}" class="text-dark ms-1"><b>{% trans 'Quay lại bảng điều khiển' %}</b></a>
      </p>
    </div>

  </div>
  
</div>

{% include 'admin/notify_change_password.html' %}
{% endblock %}
