SECRET_KEY=django-insecure--7n+(wf$qhqy62pxqpje1l3zd39d^e=3n&w9al4t3^**1cm^2*
DB_HOST=localhost
DB_USER=root
DATABASE=midori
DB_PASSWORD=1234
DB_PORT=3306

EMAIL_FROM = 'smtp.gmail.com'
EMAIL_HOST_USER = 'thuy@gmail.com'
EMAIL_HOST_PASSWORD = 'tawn ihte posx dhoe'
EMAIL_PORT = 587
