.avatar-dropdown-user-menu {
  position: absolute;
  top: -19px;
  left: -4px;
  background-color: #fff;
  width: 256px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  padding-left: 8px;
  list-style: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.16);
  border: 0;
}
.avatar-dropdown-user-menu .avatar-dropdown-profile-highlight {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  padding: 12px 16px;
  margin-bottom: 6px;
}
.avatar-dropdown-user-menu .avatar-dropdown-profile-highlight img {
  width: 48px;
  height: 48px;
  border-radius: 25px;
  object-fit: cover;
}
.avatar-dropdown-user-menu .profile-highlight .avatar-dropdown-details {
  display: flex;
  flex-direction: column;
  margin: auto 12px;
}
.avatar-dropdown-user-menu .avatar-dropdown-profile-highlight .avatar-dropdown-details #avatar-dropdown-profile-name {
  font-weight: 600;
  font-size: 16px;
  padding-left: 20px;
}
.avatar-dropdown-user-menu .avatar-dropdown-profile-highlight .avatar-dropdown-details #avatar-dropdown-profile-footer {
  font-weight: 300;
  font-size: 14px;
  margin-top: 4px;
  padding-left: 20px;
}
.avatar-dropdown-user-menu .avatar-dropdown-footer {
  border-top: 1px solid #e0e0e0;
  padding-top: 6px;
  margin-top: 6px;
}
.avatar-dropdown-user-menu .avatar-dropdown-footer .avatar-dropdown-user-menu-link {
  font-size: 13px;
}
.avatar-dropdown-user-menu .avatar-dropdown-user-menu-link {
  display: flex;
  text-decoration: none;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  padding: 7px 15px;
}

.avatar-dropdown-user-menu .avatar-dropdown-user-menu-link:hover {
  background-color: #f5f5f5;
  color: #333;
}

.avatar-dropdown-user-menu:before {
  content: "";
  top: -13px;
  position: absolute;
  left: calc(50% - 7px);
  border-top: 0px solid #fff;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
  background-color: #66BB6A;
}

.avatar-dropdown-ui a:after{
  display: none;
}

.dropdown-menu.show{
  border: 0;
}
