@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.avatar-dropdown-menu-container ul {
  list-style: none;
}
.avatar-dropdown-user-menu-wrap {
  box-sizing: border-box;
  position: relative;
}
.avatar-dropdown-menu-container {
  visibility: hidden;
  opacity: 0;
}
.avatar-dropdown-menu-container.active {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.avatar-dropdown-user-menu {
  position: absolute;
  right: -22px;
  background-color: #fff;
  width: 256px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  padding-left: 8px;
  z-index: 1000;
}
.avatar-dropdown-user-menu .avatar-dropdown-profile-highlight {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  padding: 12px 16px;
  margin-bottom: 6px;
}
.avatar-dropdown-user-menu .avatar-dropdown-profile-highlight img {
  width: 48px;
  height: 48px;
  border-radius: 25px;
  object-fit: cover;
}
.avatar-dropdown-user-menu .profile-highlight .avatar-dropdown-details {
  display: flex;
  flex-direction: column;
  margin: auto 12px;
}
.avatar-dropdown-user-menu .avatar-dropdown-profile-highlight .avatar-dropdown-details #avatar-dropdown-profile-name {
  font-weight: 600;
  font-size: 16px;
  padding-left: 20px;
}
.avatar-dropdown-user-menu .avatar-dropdown-profile-highlight .avatar-dropdown-details #avatar-dropdown-profile-footer {
  font-weight: 300;
  font-size: 14px;
  margin-top: 4px;
  padding-left: 20px;
}
.avatar-dropdown-user-menu .avatar-dropdown-footer {
  border-top: 1px solid #e0e0e0;
  padding-top: 6px;
  margin-top: 6px;
}
.avatar-dropdown-user-menu .avatar-dropdown-footer .avatar-dropdown-user-menu-link {
  font-size: 13px;
}
.avatar-dropdown-user-menu .avatar-dropdown-user-menu-link {
  display: flex;
  text-decoration: none;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  padding: 7px 15px;
}

.avatar-dropdown-user-menu .avatar-dropdown-user-menu-link:hover {
  background-color: #f5f5f5;
  color: #333;
}
.avatar-dropdown-user-menu:before {
  position: absolute;
  top: -16px;
  left: 120px;
  display: inline-block;
  content: "";
  border: 8px solid transparent;
  border-bottom-color: #e0e0e0;
}
.avatar-dropdown-user-menu:after {
  position: absolute;
  top: -14px;
  left: 121px;
  display: inline-block;
  content: "";
  border: 7px solid transparent;
  border-bottom-color: #fff;
}
