{% load i18n %}
<!-- Right Sidebar -->
<div class="right-bar">

  <div data-simplebar class="h-100">

    <div class="rightbar-title">
      <a href="javascript:void(0);" class="right-bar-toggle float-end">
        <i class="mdi mdi-close"></i>
      </a>
      <h4 class="font-16 m-0 text-white">{% trans 'Tùy chỉnh phông nền' %}</h4>
    </div>

    <!-- Tab panes -->
    <div class="tab-content pt-0">

      <div class="tab-pane active" id="settings-tab" role="tabpanel">

        <div class="p-3">

          <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">{% trans 'Chế độ' %}</h6>
          <div class="form-check form-switch mb-1">
            <input type="checkbox" class="form-check-input" name="color-scheme-mode" value="light" id="light-mode-check"
              checked />
            <label class="form-check-label" for="light-mode-check">{% trans 'Sáng' %}</label>
          </div>

          <div class="form-check form-switch mb-1">
            <input type="checkbox" class="form-check-input" name="color-scheme-mode" value="dark"
              id="dark-mode-check" />
            <label class="form-check-label" for="dark-mode-check">{% trans 'Tối' %}</label>
          </div>

          <!-- Width -->
          <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">{% trans 'Chiều rộng' %}</h6>
          <div class="form-check form-switch mb-1">
            <input type="checkbox" class="form-check-input" name="width" value="fluid" id="fluid-check" checked />
            <label class="form-check-label" for="fluid-check">{% trans 'Tự căn chỉnh' %}</label>
          </div>
          <div class="form-check form-switch mb-1">
            <input type="checkbox" class="form-check-input" name="width" value="boxed" id="boxed-check" />
            <label class="form-check-label" for="boxed-check">{% trans 'Cố định' %}</label>
          </div>

          <!-- Menu positions -->
          <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">{% trans 'Menus (Leftsidebar và Topbar)' %}</h6>

          <div class="form-check form-switch mb-1">
            <input type="checkbox" class="form-check-input" name="menus-position" value="fixed" id="fixed-check"
              checked />
            <label class="form-check-label" for="fixed-check">{% trans 'Cố định' %}</label>
          </div>

          <div class="form-check form-switch mb-1">
            <input type="checkbox" class="form-check-input" name="menus-position" value="scrollable"
              id="scrollable-check" />
            <label class="form-check-label" for="scrollable-check">{% trans 'Thanh cuộn' %}</label>
          </div>

          <!-- Left Sidebar-->
          <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">{% trans 'Màu Sidebar bên trái' %}</h6>

          <div class="form-check form-switch mb-1">
            <input type="checkbox" class="form-check-input" name="leftsidebar-color" value="light" id="light-check" />
            <label class="form-check-label" for="light-check">{% trans 'Sáng' %}</label>
          </div>

          <div class="form-check form-switch mb-1">
            <input type="checkbox" class="form-check-input" name="leftsidebar-color" value="dark" id="dark-check"
              checked />
            <label class="form-check-label" for="dark-check">{% trans 'Tối' %}</label>
          </div>

          <div class="form-check form-switch mb-1">
            <input type="checkbox" class="form-check-input" name="leftsidebar-color" value="brand" id="brand-check" />
            <label class="form-check-label" for="brand-check">{% trans 'Brand' %}</label>
          </div>

          <div class="form-check form-switch mb-3">
            <input type="checkbox" class="form-check-input" name="leftsidebar-color" value="gradient"
              id="gradient-check" />
            <label class="form-check-label" for="gradient-check">{% trans 'Gradient' %}</label>
          </div>

          <!-- size -->
          <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">{% trans 'Kích cỡ Left Sidebar' %}</h6>

          <div class="form-check form-switch mb-1">
            <input type="checkbox" class="form-check-input" name="leftsidebar-size" value="default"
              id="default-size-check" checked />
            <label class="form-check-label" for="default-size-check">{% trans 'Mặc định' %}</label>
          </div>

          <div class="form-check form-switch mb-1">
            <input type="checkbox" class="form-check-input" name="leftsidebar-size" value="condensed"
              id="condensed-check" />
            <label class="form-check-label" for="condensed-check">{% trans 'Condensed' %} <small>({% trans 'Extra Small size' %})</small></label>
          </div>

          <div class="form-check form-switch mb-1">
            <input type="checkbox" class="form-check-input" name="leftsidebar-size" value="compact"
              id="compact-check" />
            <label class="form-check-label" for="compact-check">{% trans 'Compact' %} <small>({% trans 'Small size' %})</small></label>
          </div>

          <!-- Topbar -->
          <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">{% trans 'Topbar' %}</h6>

          <div class="form-check form-switch mb-1">
            <input type="checkbox" class="form-check-input" name="topbar-color" value="dark" id="darktopbar-check"
              checked />
            <label class="form-check-label" for="darktopbar-check">{% trans 'Tối' %}</label>
          </div>

          <div class="form-check form-switch mb-1">
            <input type="checkbox" class="form-check-input" name="topbar-color" value="light" id="lighttopbar-check" />
            <label class="form-check-label" for="lighttopbar-check">{% trans 'Sáng' %}</label>
          </div>

          <div class="d-grid mt-4">
            <button class="btn btn-primary" id="resetBtn">{% trans 'Đặt lại về mặc định' %}</button>
          </div>

        </div>

      </div>
    </div>

  </div> <!-- end slimscroll-menu-->
</div>
<!-- /Right-bar -->
