{% extends 'base_generic.html' %}

{% load i18n %}

{% block content %}

<!-- Require login -->
{% if user.is_authenticated %}

<div class="container mc-1">
    <div class="row">
        <h1 class="display-5"> {% trans "Settings" %} </h1>
    </div>

    <div class="row bg-light mt-1">
      <div class="col-xl-3 mt-3 mb-3">
        <div class="card card-fluid">
          <h6 class="card-header bg-white"> <strong>{% trans "Your Details" %}</strong> </h6>

          <nav class="nav nav-tabs flex-column">
            <a href="{% url "edit_profile" user.username %}" class="nav-link">{% trans "Profile Details" %}</a>
            <a href="{% url 'change_password' user.username %}" class="nav-link active">{% trans "Change Password" %}</a>
          </nav>
        </div>
      </div>

      <div class="col-xl-9 mt-3 mb-3">
        <div class="card card-fluid">
          <h6 class="card-header bg-white"> <strong>{% trans "Change Password" %}</strong> </h6>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}

              <div class="form-row">
                <!-- form column -->
                <label for="id_old_password" class="col-md-3 mb-3">{% trans "Old password" %}</label>
                <!-- /form column -->
                <!-- form column -->
                <div class="col-md-9 mb-3">
                  <input type="password" name="old_password" class="form-control-bs4" id="id_old_password" value="" required="">
                </div>
                <!-- /form column -->
              </div>

              <div class="form-row">
                <!-- form column -->
                <label for="id_new_password" class="col-md-3 mb-3">{% trans "New password" %}</label>
                <!-- /form column -->
                <!-- form column -->
                <div class="col-md-9 mb-3">
                  <input type="password" name="new_password" class="form-control-bs4" id="id_new_password" value="" required="">
                </div>
                <!-- /form column -->
              </div>

              <div class="form-row">
                <!-- form column -->
                <label for="id_confirm_password" class="col-md-3 mb-3">{% trans "New password confirmation" %}</label>
                <!-- /form column -->
                <!-- form column -->
                <div class="col-md-9 mb-3">
                  <input type="password" name="confirm_password" class="form-control-bs4" id="id_confirm_password" value="" required="">
                </div>
                <!-- /form column -->
              </div>

              <hr>

              <div class="form-actions">
                <button type="submit" class="btn btn-primary ml-auto float-right">{% trans "Update Profile" %}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

{% endif %}

{% endblock %}
