{% extends 'account/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <p style="color: white;">Welcome, {{ user.username }}. Thanks for logging in.</p>
        <a href="{% url 'signout' %}">Logout</a>
    {% else %}
        <p style="color: white;">Welcome, new user. Please log in.</p>
        <a href="{% url 'signin' %}">Login</a>
    {% endif %}

    <script>
        $(document).ready(function() {
          {% if messages %}
            {% for message in messages %}
              {% if message.tags == 'success' %}
                successNotification({
                  title: 'Thành công',
                  message: '{{ message|safe|escape }}'
                });
              {% elif message.tags == 'error' %}
                errorNotification({
                  title: 'Lỗi',
                  message: '{{ message|safe|escape }}'
                });
              {% elif message.tags == 'warning' %}
                warningNotification({
                  title: 'Cảnh báo',
                  message: '{{ message|safe|escape }}'
                });
              {% elif message.tags == 'info' %}
                infoNotification({
                  title: 'Thông tin',
                  message: '{{ message|safe|escape }}'
                });
              {% endif %}
            {% endfor %}
          {% endif %}
        });
    </script>
{% endblock %}
