{% extends 'account/base.html' %}

{% load i18n %}

{% block title %}{% trans 'Reset Password Confirm' %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4 form">
        <form method="POST" autocomplete="">
            {% csrf_token %}
            <h3 class="text-center">{% trans 'Nhập mât khẩu mới' %}</h3>

            <div class="form-group">
                <input class="form-control" type="password" name="new_password1" placeholder="{% trans 'Nhập mật khẩu mới' %}" required value="">
            </div>

            <div class="form-group">
                <input class="form-control" type="password" name="new_password2" placeholder="{% trans 'Xác nhận lại mật khẩu mới' %}" required value="">
            </div>

            <div class="form-group">
                <input class="form-control button" type="submit" name="check-email" value="{% trans 'Lấy lại mật khẩu' %}">
            </div>
        </form>
        <input type="button" class="form-control btn btn-outline-primary" value="{% trans 'Đăng nhập' %}" onclick="location.href='{% url 'signin' %}'">
    </div>
</div>

{% include 'account/notify_script.html' %}
{% endblock %}
