{% extends 'account/base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4 form">
        <form method="POST" autocomplete="">
            {% csrf_token %}
            <h2 class="text-center">Quên mật khẩu</h2>
            <p class="text-center">Nhập email để lấy lại mật khẩu</p>

            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Nhập email" required value="">
            </div>
            <div class="form-group">
                <input class="form-control button" type="submit" name="check-email" value="Lấy lại mật khẩu">
            </div>
        </form>
        <input type="button" class="form-control btn btn-outline-primary" value="Đăng nhập" onclick="location.href='{% url 'signin' %}'">
    </div>
</div>

<script>
    $(document).ready(function() {
      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'success' %}
            successNotification({
              title: 'Thành công',
              message: '{{ message|safe|escape }}'
            });
          {% elif message.tags == 'error' %}
            errorNotification({
              title: 'Lỗi',
              message: '{{ message|safe|escape }}'
            });
          {% endif %}
        {% endfor %}
      {% endif %}
    });
</script>
{% endblock %}
