{% extends 'account/base.html' %}

{% load i18n %}

{% block title %}{% trans 'Reset Password' %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4 form">
        <form method="POST" autocomplete="">
            {% csrf_token %}
            <h2 class="text-center">{% trans 'Quên mật khẩu' %}</h2>
            <p class="text-center">{% trans 'Nhập email để lấy lại mật khẩu' %}</p>

            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="{% trans 'Nhập email' %}" required value="">
            </div>
            <div class="form-group">
                <input class="form-control button" type="submit" name="check-email" value="{% trans 'Lấy lại mật khẩu' %}">
            </div>
        </form>
        <input type="button" class="form-control btn btn-outline-primary" value="{% trans 'Đăng nhập' %}" onclick="location.href='{% url 'signin' %}'">
    </div>
</div>

{% include 'account/notify_script.html' %}
{% endblock %}
