{% load i18n %}
<div id="post" class="tab-pane active">
  {% if not posts %}
    <div class="col-12 text-center text-muted">
      <p class="h5">{% trans "Chưa có bài viết nào" %}</p>
    </div>
  {% else %}
    {% for post in posts %}
      <div class="row mt-1 ml-2 mb-1">
        <div class="media">
          <img class="d-flex align-self-center mr-3 rounded-circle mb-3" src="{{ request_user.avatar_link }}" width="50" height="50" alt="{% trans "Avatar" %}">
          <div class="media-body">
            <p class="my-0"><a href="{% url 'profile' request_user.username %}">{{request_user.username}}</a> <small><i>Posted in {{ post.created_at }}</i></small></p>
            <div class="d-flex">
              <div class="d-inline">
                <h5 class="text-wrap mb-0">
                  <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                </h5>
              </div>
              <div class="d-inline">
                {% if post.status == 0 %}
                  <span class="badge badge-info ml-2">
                    {% trans "Nháp" %}
                  </span>
                {% elif post.status == 3 %}
                  <span class="badge badge-danger ml-2">
                    {% trans "Bị xóa" %}
                  </span>
                {% elif post.mode == 1 %}
                  <span class="badge badge-dark ml-2">
                    {% trans "Trả phí" %} 
                  </span>
                {% endif %}
              </div>
            </div>

            <div class="d-flex">
              {% for hashtag in post.hashtags.all %}
                <div class="bg-secondary text-white px-1 mr-1 mt-1" data-toggle="tooltip" data-placement="bottom" title="{% trans "Hashtag" %}">{{ hashtag.name }}</div>
              {% endfor %}
            </div>

            <div class="d-flex mb-0 mt-1">
              <div data-toggle="tooltip" data-placement="bottom" title="{% trans "Lượt xem" %}">
                <i class="fa-solid fa-eye text-muted"></i>
                <span class="text-muted">{{ post.view_count }}</span>
              </div>
              <div class="ml-2" data-toggle="tooltip" data-placement="bottom" title="{% trans "Số lượng Bookmark" %}">
                <i class="fa-regular fa-bookmark"></i>
                <span class="text-muted">{{ post.bookmark_count }}</span>
              </div>
              <div class="ml-2" data-toggle="tooltip" data-placement="bottom" title="{% trans "Số lượng bình luận" %}">
                <i class="fa-regular fa-comment"></i>
                <span class="text-muted">{{ post.comment_count }}</span>
              </div>
              <div class="points ml-2" data-toggle="tooltip" data-placement="bottom" title="{% trans "Tổng đánh giá" %}">
                <div class="carets">
                  <i class="fa-solid fa-caret-up fa-sm mb-1"></i>
                  <i class="fa-solid fa-caret-down fa-sm"></i>
                </div>
                <span class="text-muted">{{ post.reaction_point }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border"> </div>
    {% endfor %}
  {% endif %}

  
  {% if posts.has_other_pages %}
    <div class="row mt-5 justify-content-center">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          {% if posts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page_post=1">{% trans "Trang đầu" %}</a></li>
            <li class="page-item">
              <a class="page-link" href="page_post={{ posts.previous_page_number }}" aria-label="{% trans "Previous" %}">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {% endif %}
          {% for num in posts.paginator.page_range %}
            {% if posts.number == num %}
              <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span>
              </li>
            {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
              <li class="page-item"><a class="page-link" href="?page_post={{ num }}">{{ num }}</a></li>
            {% endif %}
          {% endfor %}
          {% if posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page_post={{ posts.next_page_number }}"><span
              aria-hidden="true">&raquo;</span></a></li>
            <li class="page-item"><a class="page-link" href="?page_post={{ posts.paginator.num_pages }}">{% trans "Trang cuối" %}</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  {% endif %}
</div>
