{% extends 'account/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4 offset-md-4 form">
      <form method="POST" autocomplete="">
          {% csrf_token %}
          <h2 class="text-center">Đăng ký</h2>

          <div class="form-group">
              <input class="form-control" type="text" name="first_name" placeholder="Họ" required value="">
          </div>

          <div class="form-group">
              <input class="form-control" type="text" name="last_name" placeholder="Tên" required value="">
          </div>

          <div class="form-group">
              <input class="form-control" type="email" name="email" placeholder="Địa chỉ Email" required value="">
          </div>

          <div class="form-group">
              <input class="form-control" type="username" name="username" placeholder="Tên người dùng" required value="">
          </div>

          <div class="form-group">
              <input class="form-control" type="password" name="password1" placeholder="Mật khẩu" required>
          </div>
          <div class="form-group">
              <input class="form-control" type="password" name="password2" placeholder="Xác nhận lại mật khẩu" required>
          </div>
          <div class="form-group">
              <input class="form-control button" type="submit" name="signup" value="Đăng ký">
          </div>
          <div class="link login-link text-center">Đã có tài khoản? <a href="{% url 'signin' %}">Đăng nhập</a></div>
      </form>
  </div>
</div>

<script>
  $(document).ready(function() {
    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'success' %}
          successNotification({
            title: 'Thành công',
            message: '{{ message|safe|escape }}'
          });
        {% elif message.tags == 'error' %}
          errorNotification({
            title: 'Lỗi',
            message: '{{ message|safe|escape }}'
          });
        {% endif %}
      {% endfor %}
    {% endif %}
  });
</script>
{% endblock %}
