{% autoescape off %}
Chào {{ user.username }},

Chúng tôi đã nhận được yêu cầu đặt lại mật khẩu cho tài khoản của bạn cho địa chỉ email này. Để bắt đầu quá trình đặt lại mật khẩu cho tài khoản của bạn, hãy nhấp vào liên kết bên dưới.

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Liên kết này chỉ có thể được sử dụng một lần. Nếu bạn cần đặt lại mật khẩu của mình một lần nữa, vui lòng truy cập {{ protocol }}://{{domain}} và yêu cầu đặt lại.

Nếu bạn không yêu cầu đặt lại mật khẩu, hãy bỏ qua email này.

Thân ái,
Tuyên

{% endautoescape %}
