{% extends "base_generic.html" %}
{% load static i18n %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'user_layout/css/404.css' %}">
<div class="container">
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>404</h1>
            </div>
            <p class="m-2">{{ message }}</p>
            <a href="{% url 'home' %}"><span class="arrow"></span>{% trans 'Return To Homepage' %}</a>
        </div>
    </div>
</div>
{% endblock %}
