{% extends "base_generic.html" %}
{% load static i18n %}

{% block content %}

<div class="site-section mt-5">
    <div class="container">
        <div class="row justify-content-center section-title">
            <h2>{% trans "Tất cả tác giả" %}</h2>
        </div>
        <div class="row justify-content-start">
            {% for author in object_list %}
            <div class="col-lg-4">
                {% include "author_card.html" %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include "pagination.html" %}

{% endblock %}

