{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}{% trans "Web title" %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="{% static 'user_layout/css/b612_mono_cabin.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'user_layout/fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'user_layout/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'user_layout/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'user_layout/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'user_layout/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'user_layout/css/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" href="{% static 'user_layout/css/bootstrap-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'user_layout/css/avatar-dropdown.css' %}">
  <link rel="stylesheet" href="{% static 'user_layout/fonts/flaticon/font/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'user_layout/css/aos.css' %}">
  <link href="{% static 'user_layout/css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{% static 'user_layout/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'user_layout/css/toast.css' %}">
  <link rel="stylesheet" href="{% static 'user_layout/css/fontawesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'user_layout/css/tagsinput.css' %}">
  <link rel="stylesheet" href="{% static 'user_layout/css/main.css' %}" />

  <link rel="stylesheet" href="{% static 'search_layout/css/style.css' %}" />

  <script src="{% static 'user_layout/js/toast.js' %}"></script>
  <script src="{% static 'user_layout/js/notify_init.js' %}"></script>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    {% include 'header.html' %}
    {% include "navbar.html" %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}

  </div>
  <!-- .site-wrap -->

  <!-- loader -->
  <div id="loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ff5e15" />
    </svg>
  </div>

  <script src="{% static 'user_layout/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'user_layout/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'user_layout/js/jquery-ui.js' %}"></script>
  <script src="{% static 'user_layout/js/popper.min.js' %}"></script>
  <script src="{% static 'user_layout/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'user_layout/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'user_layout/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'user_layout/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'user_layout/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'user_layout/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'user_layout/js/aos.js' %}"></script>
  <script src="{% static 'user_layout/js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'user_layout/js/jquery.sticky.js' %}"></script>
  <script src="{% static 'user_layout/js/jquery.mb.YTPlayer.min.js' %}"></script>
  <script src="{% static 'user_layout/js/avatar-dropdown.js' %}"></script>
  <script src="{% static 'user_layout/js/main.js' %}"></script>
  <script src="{% static 'user_layout/js/tagsinput.js' %}"></script>
  <script src="{% static 'user_layout/js/bootstrap-multiselect.js' %}"></script>
  <script src="{% static 'user_layout/js/choices.js' %}"></script>
  <script src="{% static 'search_layout/js/main.js' %}"></script>


  {% include 'notify_script.html' %}

</body>

</html>
