{% load static i18n %}

<div class="header-top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 d-flex">
                <a href="{% url 'home' %}" class="site-logo">
                    {% trans "website-title" %}
                </a>

                <a href="#" class="ml-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                        class="icon-menu h3"></span></a>

            </div>
            <div class="col-6 d-flex justify-content-end">
                <form action="#" class="search-form">
                    <div class="d-flex">
                        <input type="email" class="form-control" placeholder="Search...">
                        <button type="submit" class="btn btn-secondary"><span class="icon-search"></span></button>
                    </div>
                </form>

                {% if user.is_authenticated %}
                    <div>
                        <a href="{% url 'create_post' %}" class="d-inline-block p-3"><span class="icon-pencil"></span></a>
                        <a href="#" class="d-inline-block p-3"><span class="icon-bell"></span></a>
                    </div>
                    <div class="avatar-dropdown-user-menu-wrap">

                        <a class="avatar-dropdown-mini-photo-wrapper" href="#"><span class="icon-user-circle"
                                style="font-size: 35px"></span></a>

                        <div class="avatar-dropdown-menu-container">
                            <ul class="avatar-dropdown-user-menu">
                                <div class="avatar-dropdown-profile-highlight">
                                    <img src="{% static 'user_layout/images/avatar-logo.jpg' %}" alt="profile-img" width=36
                                        height=36>
                                    <div class="avatar-dropdown-details">
                                        <div id="avatar-dropdown-profile-name">{{ user.username }}</div>
                                        <div id="avatar-dropdown-profile-footer">{{ user.email }}</div>
                                    </div>
                                </div>
                                <li class="avatar-dropdown-user-menu__item">
                                    <a class="avatar-dropdown-user-menu-link" href="#">
                                        <span class="icon-user"> {% trans "Profile" %}</span>
                                    </a>
                                </li>
                                <li class="avatar-dropdown-user-menu__item">
                                    <a class="avatar-dropdown-user-menu-link" href="#">
                                        <span class="icon-bookmark"> {% trans "Bookmark" %}</span>
                                    </a>
                                </li>
                                <li class="avatar-dropdown-user-menu__item">
                                    <a class="avatar-dropdown-user-menu-link" href="#">
                                        <span class="icon-users"> {% trans "Follow" %}</span>
                                    </a>
                                </li>
                                <li class="avatar-dropdown-user-menu__item">
                                    <a class="avatar-dropdown-user-menu-link" href="#">
                                        <span class="icon-file-text-o"> {% trans "Draft" %}</span>
                                    </a>
                                </li>
                                <div class="avatar-dropdown-footer">
                                    <li class="avatar-dropdown-user-menu__item"><a class="avatar-dropdown-user-menu-link"
                                            href="{% url 'signout' %}" style="color: #F44336;"> {% trans "Logout" %}</a></li>
                                </div>
                            </ul>
                        </div>
                    </div>
                {% else %}
                <div style="margin-right: 10px">
                    <a href="{% url 'signin' %}"><button class="btn auth-button">Đăng nhập</button></a>
                    <a href="{% url 'signup' %}"><button class="btn auth-button"">Đăng ký</button></a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

</div>
