{% load static i18n %}

<div class="header-top border border-left-0 border-right-0 border-top-0 shadow">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-4 d-flex">
                <a href="{% url 'home' %}" class="site-logo">
                    {% trans "website-title" %}
                </a>

                <a href="#" class="ml-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                        class="icon-menu h3"></span></a>

            </div>
            <div class="col-8 d-inline-flex justify-content-end align-items-center">
                <div class="w-50 s003">
                    <form class="d-inline-block" method="get", action="{% url 'search' %}">
                        <div class="inner-form">
                            <div class="input-field first-wrap">
                                <div class="input-select">
                                    <select data-trigger="" name="choices_single_default">
                                        <option value="Post" {% if choices_single_default == "Post" %}selected{% endif %}>{% trans "Post" %}</option> 
                                        <option value="Author" {% if choices_single_default == "Author" %}selected{% endif %}>{% trans "Author" %}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-field second-wrap">
                                <input id="search" type="text" placeholder="{% trans 'Enter Keywords?' %}" name="search_keyword" value = "{{ search_keyword }}"/>
                            </div>
                            <div class="input-field third-wrap">
                                <button class="btn-search" type="submit">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                {% if user.is_authenticated %}
                    <a href="{% url 'create_post' %}" class="px-3 ml-2"><span class="icon-pencil"></span></a>

                    {% include "notification.html" %}

                    <div class="nav-item dropdown avatar-dropdown-ui">

                        <a class="nav-link dropdown-toggle" href="#" id="avatarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon-user-circle" style="font-size: 35px"></span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="avatarDropdown">
                            <ul class="avatar-dropdown-user-menu">
                                <div class="avatar-dropdown-profile-highlight">
                                    <img src="{{ user.avatar_link }}" alt="profile-img" width=36
                                        height=36>
                                    <div class="avatar-dropdown-details">
                                        <div id="avatar-dropdown-profile-name">{{ user.username }}</div>
                                        <div id="avatar-dropdown-profile-footer">{{ user.email }}</div>
                                    </div>
                                </div>
                                {% if user.is_superuser or user.is_staff %}
                                    <li class="avatar-dropdown-user-menu__item">
                                        <a class="avatar-dropdown-user-menu-link" href="{% url 'admin:index' %}">
                                            <p class="mb-0">
                                                <i class="fa-solid fa-screwdriver-wrench mr-1"></i>
                                                {% trans "Admin Panel" %}
                                            </p>
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="avatar-dropdown-user-menu__item">
                                    <a class="avatar-dropdown-user-menu-link" href="{% url 'profile' user.username %}">
                                        <p class="mb-0"><i class="icon-user mr-1"></i> {% trans "Profile" %}</p>
                                    </a>
                                </li>
                                <li class="avatar-dropdown-user-menu__item">
                                    <a class="avatar-dropdown-user-menu-link" href="#">
                                        <p class="mb-0"><i class="icon-bookmark mr-2"></i> {% trans "Bookmark" %}</p>
                                    </a>
                                </li>
                                <li class="avatar-dropdown-user-menu__item">
                                    <a class="avatar-dropdown-user-menu-link" href="#">
                                        <p class="mb-0"><i class="icon-users mr-1"></i> {% trans "Follow" %}</p>
                                    </a>
                                </li>
                                <li class="avatar-dropdown-user-menu__item">
                                    <a class="avatar-dropdown-user-menu-link" href="#">
                                        <p class="mb-0"><i class="icon-file-text-o mr-2"></i> {% trans "Draft" %}</p>
                                    </a>
                                </li>
                                <div class="avatar-dropdown-footer">
                                    <li class="avatar-dropdown-user-menu__item">
                                        <a class="avatar-dropdown-user-menu-link" href="{% url 'signout' %}" style="color: #F44336;"> 
                                            <p class="mb-0"><i class="fa-solid fa-right-from-bracket mr-2"></i> {% trans "Logout" %}</p>
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'signin' %}"><button class="btn auth-button">Đăng nhập</button></a>
                    <a href="{% url 'signup' %}"><button class="btn auth-button">Đăng ký</button></a>
                {% endif %}
            </div>
        </div>
    </div>

</div>
