{% extends "base_generic.html" %}
{% load static i18n %}

{% block content %}

<div class="site-section py-0 mt-5">
    <div class="owl-carousel hero-slide owl-style">

        <div class="site-section">
            <div class="container">
                <div class="half-post-entry d-block d-lg-flex bg-light">
                    <div class="img-bg"
                         style="background-image: url('{% static 'user_layout/images/big_img_1.jpg' %}')"></div>
                    <div class="contents">
                        <span class="caption">{% trans "Editor's Pick" %}</span>
                        <h2><a href="blog-single.html">{% trans "Blog's title" %}</a></h2>
                        <p class="mb-3">{% trans "Blog's introduciton" %}</p>

                        <div class="post-meta">
                            <span class="d-block"><a href="#">{% trans "Blog's author" %}</a> {% trans 'thuộc' %} <a
                                    href="#">Food</a></span>
                            <span class="date-read">{% trans "Blog's date" %}<span class="mx-1">&bullet;</span> {% trans "Blog's estimated read time" %} <span
                                    class="icon-star2"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="half-post-entry d-block d-lg-flex bg-light">
                    <div class="img-bg"
                         style="background-image: url('{% static 'user_layout/images/big_img_1.jpg' %}')"></div>
                    <div class="contents">
                        <span class="caption">{% trans "Editor's Pick" %}</span>
                        <h2><a href="blog-single.html">{% trans "Blog's title" %}</a></h2>
                        <p class="mb-3">{% trans "Blog's introduciton" %}</p>

                        <div class="post-meta">
                            <span class="d-block"><a href="#">{% trans "Blog's author" %}</a> {% trans 'thuộc' %} <a
                                    href="#">Food</a></span>
                            <span class="date-read">{% trans "Blog's date" %}<span class="mx-1">&bullet;</span> {% trans "Blog's estimated read time" %} <span
                                    class="icon-star2"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- Trending Post Section-->
<div class="site-section">
    <div class="container">
        <div class="row">
            {% for top_posts in all_top_posts %}
            <div class="col-lg-4">
                <div class="section-title">
                    <h2>{{top_posts.title}}</h2>
                </div>
                {% for post in top_posts.posts %}
                <div class="trend-entry d-flex post_card">
                    <div class="number text-center align-self-center">{% if forloop.counter < 10 %}0{% endif %}{{forloop.counter}}</div>
                    <div class="trend-contents">
                        <h2><a href="{% url 'post_detail' post.id %}" class="d-block text-truncate w-250px">{{post.title}}</a></h2>
                        <div class="post-meta">
                            <span class="d-block text-truncate w-250px">
                                <a class="text-primary" href="{% url 'profile' post.user.username %}">
                                    {{post.user.first_name}} {{post.user.last_name}}
                                </a> {% trans 'trong' %}
                                {{post.list_categories}}
                            </span>
                            <span class="date-read">{{post.created_at|date:"h:m d/m/Y"}}
                                <span class="mx-1">&bullet;</span>
                                <span class="fa-regular fa-thumbs-up"></span>
                                {{post.r_count}}
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if forloop.last %}
                <p class="text-center">
                    <a href="{% url 'trending_posts' %}" class="more">{% trans "Xem thêm" %} <span
                            class="icon-keyboard_arrow_right"></span></a>
                </p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- END Trending Post Section-->

<!-- Famous Author Section-->
<div class="site-section">
    <div class="container">
        <div class="row">
            {% for top_authors in all_top_authors %}
            <div class="col-lg-4">
                <div class="section-title">
                    <h2>{{top_authors.title}}</h2>
                </div>
                {% for author in top_authors.authors %}
                <div class="trend-entry d-flex post_card">
                    <div class="number align-self-start position-relative">
                        <img src="{{author.avatar_link}}" class="rounded-circle object-fit-cover border" alt="avatar" width="50px" height="50px">
                        <p class="position-absolute top-100 start-100 translate-middle badge badge-primary rounded-circle wh-35px text-center align-self-center">{% if forloop.counter < 10 %}0{% endif %}{{forloop.counter}}</p>
                    </div>
                    <div class="ml-4 trend-contents">
                        <div class="d-flex flex-row w-250px">
                            <h2><a href="{% url 'profile' author.username %}" class="d-block text-truncate">{{author.full_name}}</a></h2>
                        {% if author.achievement != 0%}
                            <i class="fa fa-trophy line-height-23px" aria-hidden="true" style="color: {{author.achievement_color}};">
                                <span class="fix-font-main">{{author.achievement_rank}}</span>
                            </i>
                        {% endif %}
                        </div>
                        <div class="post-meta">
                            <span class="d-block text-truncate w-250px">
                                <a class="text-primary" href="{% url 'profile' author.username %}">
                                    @{{author.username}}
                                </a>
                                <span class="mx-1">&bullet;</span>
                                <span class="fa-regular fa-thumbs-up"></span>
                                {{author.liked_people}}
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if forloop.last %}
                <p class="text-center">
                    <a href="{% url 'famous_authors' %}" class="more">{% trans "Xem thêm" %} <span
                            class="icon-keyboard_arrow_right"></span></a>
                </p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- END Famous Author Section-->

<!-- Treding Hashtag Section-->
<div class="site-section mt-5">
    <div class="container">
        <div class="row">
            {% for top_hashtags in all_top_hashtags %}
            <div class="col-lg-4">
                <div class="section-title">
                    <h2>{{top_hashtags.title}}</h2>
                </div>
                {% for hashtag in top_hashtags.hashtags %}
                <div class="trend-entry d-flex post_card">
                    <div class="number text-center align-self-center">
                        {% if forloop.counter < 10 %}0{% endif %}{{forloop.counter}}
                    </div>
                    <div class="trend-contents">
                        <h2 ><a href="{% url 'search' %}?search_keyword={{hashtag.name}}&choices_single_default=Post&only_by[]=hashtag"
                                class="text-primary">#{{hashtag.name}}</a></h2>
                        <div class="row ml-0 f-size-12px">
                        <i class="fa-solid fa-pencil text-muted"> {{hashtag.posts}}</i>
                        <i class="fa-solid fa-eye text-muted ml-2"> {{hashtag.last_post|date:"h:m d/m/Y"}}</i>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if forloop.last %}
                <p class="text-center">
                    <a href="{% url 'trending_hashtags' %}" class="more">{% trans "Xem thêm" %} <span
                            class="icon-keyboard_arrow_right"></span></a>
                </p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--END Treding Hashtag Section -->

<!-- New Post Section-->
<div class="site-section">
    <div class="container">
        <div class="section-title">
                <h2>{% trans "Bài viết mới nhất" %}</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5">
                {% for post in new_posts|slice:":5" %}
                {% include "recent_post.html" %}
                {% endfor %}
            </div>
            <div class="col-lg-5 ml-5">
                {% for post in new_posts|slice:"5:" %}
                {% include "recent_post.html" %}
                {% endfor %}
                <p class="text-center mt-3 float-right">
                    <a href="{% url 'all_posts' %}" class="more">{% trans "Xem tất cả" %}
                        <span class="icon-keyboard_arrow_right"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END New Post Section-->
{% endblock %}

