{% load static i18n %}

<div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

    <div class="container">
        <div class="d-flex align-items-center justify-content-center">
            <nav class="site-navigation position-relative text-right" role="navigation">
                <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                    {% url 'home' as home_url %}
                    <li>
                        <a href="{{ home_url }}"
                           class="nav-link text-left {% if request.path == home_url %}font-weight-bold{% endif %}">
                            {% trans "Home" %}</a>
                    </li>
                    {% url 'trending_posts' as trending_posts_url %}
                    <li>
                        <a href="{{ trending_posts_url }}"
                           class="nav-link text-left {% if request.path == trending_posts_url %}font-weight-bold{% endif %}">
                            {% trans "Popular Posts" %}</a>
                    </li>
                    {% url 'famous_authors' as famous_authors_url %}
                    <li>
                        <a href="{{ famous_authors_url }}"
                           class="nav-link text-left {% if request.path == famous_authors_url %}font-weight-bold{% endif %}">
                            {% trans "Famous Authors" %}</a>
                    </li>
                    {% url 'all_posts' as all_posts_url %}
                    <li>
                        <a href="{{ all_posts_url }}"
                           class="nav-link text-left {% if request.path == all_posts_url %}font-weight-bold{% endif %}">
                            {% trans "All Posts" %}</a>
                    </li>
                    {% url 'all_authors' as all_authors_url %}
                    <li>
                        <a href="{{ all_authors_url }}"
                           class="nav-link text-left {% if request.path == all_authors_url %}font-weight-bold{% endif %}">
                            {% trans "All Authors" %}</a>
                    </li>
                    {% url 'trending_hashtags' as trending_hashtags_url %}
                    <li>
                        <a href="{{ trending_hashtags_url }}"
                           class="nav-link text-left {% if request.path == trending_hashtags_url %}font-weight-bold{% endif %}">
                            {% trans "Trending Hashtags" %}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>
