{% load static i18n %}

<div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

    <div class="container">
        <div class="d-flex align-items-center">

            <div class="mr-auto">
                <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                        <li class="active">
                            <a href="{% url 'home'%}" class="nav-link text-left">{% trans "Home" %}</a>
                        </li>
                        <li>
                            <a href="categories.html" class="nav-link text-left">{% trans "All categories" %}</a>
                        </li>
                        <li>
                            <a href="categories.html" class="nav-link text-left">{% trans "Category 1" %}</a>
                        </li>
                        <li>
                            <a href="categories.html" class="nav-link text-left">{% trans "Category 2" %}</a>
                        </li>
                        <li>
                            <a href="categories.html" class="nav-link text-left">{% trans "Category 3" %}</a>
                        </li>
                        <li><a href="categories.html" class="nav-link text-left">{% trans "Category 4" %}</a></li>
                        <li>
                            <a href="categories.html" class="nav-link text-left">{% trans "Category 5" %}</a>
                        </li>
                        <li><a href="contact.html" class="nav-link text-left">{% trans "Contact" %}</a></li>
                    </ul>
                </nav>

            </div>

        </div>
    </div>

</div>
