{% extends "base_generic.html" %}
{% load static i18n %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}
<link rel="stylesheet" href="{% static 'user_layout/css/awesome.css' %}">
<link rel="stylesheet" href="{% static 'user_layout/css/post-detail.css' %}">
<br>
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-1 justify-content-end d-flex">
            <img src="{{author.avatar_link}}" class="rounded-circle object-fit-cover border" alt="avatar" width="50px"
                 height="50px">
        </div>
        <div class="col-3 align-self-center">
            <div class="row">
                <i class="fa fa-trophy ml-2 cls" aria-hidden="true" style="color: {{achievement_color}};">
                    {{achievement_rank}}</i>
            </div>
            <div class="row">
                <a href="#" class="mr-1">{{author.last_name}} {{author.first_name}}</a>
                <span>@{{author.username}}</span>
            </div>
            <div class="row">
                <i class="fa fa-user-plus" aria-hidden="true"> {{followers_count}}</i>
                {% if not is_owner %}
                <button class="btn btn-primary btn-sm ml-2 follow-btn" type="button" id="follow-btn"
                        data-user-id="{{author.id}}">{% if is_following %}{% trans "Unfollow" %}
                    {% else %}{% trans "Follow" %}{% endif %}
                </button>
                {% endif %}
            </div>
        </div>
        <div class="col-2 align-self-center justify-content-end d-flex offset-3">
            {% if is_owner %}
            <a class="btn btn-primary btn-sm mr-1" href="{% url 'edit_post' post.id %}">
                {% trans "Edit Post" %}
            </a>
            <button class="btn btn-danger btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#del-button">
                {% trans "Delete Post" %}
            </button>
            <div class="modal fade" id="del-button" tabindex="-1" aria-labelledby="del-button"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{% trans "Delete Post" %}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X
                            </button>
                        </div>
                        <div class="modal-body">
                            {% trans "Are you sure to delete this post?" %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            >{% trans "Cancel" %}
                            </button>
                            <a href="{% url 'delete_post' post.id %}" class="btn btn-primary"
                            >{% trans "Delete" %}</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-1 align-self-center">
            <div class="row justify-content-center">
                {% if is_bookmarked %}
                <i class="fa fa-bookmark text-big" aria-hidden="true"> {% trans "Bookmarked" %}</i>
                {% else %}
                <i class="fa fa-bookmark-o text-big" aria-hidden="true"> {% trans "Bookmark" %}</i>
                {% endif %}
            </div>
        </div>
        <div class="col-1 align-self-center ml-2">
            <div class="row justify-content-center">
                <i class="fa fa-thumbs-o-up text-big cursor-pointer {% if reacted_value == 1 %}react-choice{% endif %}"
                   aria-hidden="true" id="upvote-btn"
                   onclick="react({{post.id}}, 'upvote', '{{csrf_token|safe}}')"></i>
                <i class="fa fa-thumbs-o-down ml-2 text-big cursor-pointer {% if reacted_value == -1 %}react-choice{% endif %}"
                   aria-hidden="true" id="downvote-btn"
                   onclick="react({{post.id}}, 'downvote', '{{csrf_token|safe}}')"></i>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <i class="fa fa-eye" aria-hidden="true"> {% trans 'Lượt xem' %}: {{view_count}}</i>
                    <br>
                    <i class="fa fa-chevron-down" aria-hidden="true"> {% trans "React Value" %} <span
                            id="feedback_value">{{feedback_value}}</span></i>
                    <br>
                    <div class="text-small">
                        <i>{% trans 'Đã đăng vào' %} {{ post.created_at }}</i> <br>
                        <i>{% trans 'Chỉnh sửa lần cuối lúc' %} {{ post.updated_at }}</i>
                    </div>
                    <br>
                    {% trans 'Chủ đề' %}: {% for category in categories %}
                    <a href="#">{{ category.name }}</a>
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    <hr>
                    <p class="card-text">{{ post.content|safe }}</p>
                </div>
                <div class="card-footer text-muted text-small">
                    {% for tag in hashtags %}
                    <a href="#">#{{ tag.name }}</a>
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include "comment.html" %}
<script src="{% static 'user_layout/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'user_layout/js/post-detail.js' %}"></script>
{% block footer %}
{% include "footer.html" %}
{% endblock %}

{% endblock %}
