{% extends "base_generic.html" %}
{% load static i18n %}

{% block content %}
<div class="container mc-1">
  {% if not object_list %}
    <div class="row mt-5">
      <div class="col-12 text-center text-muted mt-5">
        <p class="h5">{% trans "Không tìm thấy kết quả" %}</p>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col-12 text-muted mb-2">
        <p class="h5"><b>{% trans "Kết quả tìm kiếm:" %}</b></p>
      </div>
    </div>
    <div class="border"> </div>
    {% if choices_single_default == "Post" %}
      {% include "search_filter.html" %}
      {% for post in object_list %}
        {% include "search_post.html" %}
      {% endfor %}
    {% elif choices_single_default == "Author" %}
        {% include "search_author.html" %}
    {% endif %}
  {% endif %}
</div>

{% include "pagination.html" %}

{% endblock %}
